.buttonBox {

    text-align: center;
    margin-top: 30px;


}
.button {
    width: 90px;
    height: 45px;
    background-color: cadetblue;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-color: darkturquoise;
}
.disabled {

}
